# Ignore virtual environment directory
venv/

# Ignore model files (for example, model files like .npy or .pkl)
model/
model/*.pkl
# Ignore bytecode files (compiled Python files)
__pycache__/

# Ignore logs
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
