{% extends "base.html" %}

{% block content %}

    <div class="container mt-4">
        <form action="/recommend" method="POST">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" class="form-control form-color-success" id="movie_name" name="movie_name" placeholder="Enter movie name" required>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success w-100">Get Recommendations</button>
                </div>
            </div>
        </form>
    </div>
    <!-- All Movies -->
    <div class="container mt-4">
        <h2>All Movies </h2>
        <div class="row">
            {% for movie, poster in all_movies %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ poster }}" class="card-img-top" alt="{{ movie }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
